node_modules/
.DS_Store
*.log
.env
.env.*

# Personal / compensation docs must NEVER be added to this repo (equity, counter-proposals, launch budgets with personal terms)
*EQUITY*
*COUNTER-PROPOSAL*
*Counter-Proposal*
*Partnership Proposal*
DOVA-LAUNCH-BUDGET*
private/
